<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/axios.js"></script>
    <script src="../js/vue.js"></script>
</head>
<body>
    <div id="app">
        <table border="1" cellspacing="0" width="60%">
            <tr v-for="(title,index) in titles" :key="index">
                <th>{{ title }}</th>
            </tr>

            <tr align="center" v-for="p in ps" :key="p.id">
                <td>{{p.id}}</td>
                <td>{{p.name}}</td>
                <td>
                    <img :src="p.image" alt="" width="70px" height="50px">
                </td>
                <td>
                    <span v-if="p.gender==1">男</span>
                    <span v-if="p.gender==2">女</span>
                </td>
                <td>{{p.job}}</td>
                <td>{{p.entrydate}}</td>
                <td>{{p.updatetime}}</td>
            </tr>
        </table>
    </div>
</body>
<script>
    new Vue({
        el:"#app",
        data:{
            titles:['编号','姓名','图像','性别','职位','入职日期','最后操作时间'],
            ps:[],
        },
        mounted(){
            axios.get("https://mock.apifox.cn/m1/3128855-0-default/emp/list").then(res=>{
                this.ps=res.data.data
            })
        }
    })
</script>
</html>